
<div class="loginbody">

<div class="loginbody-img">
  <img src="{{fileUrl}}/newlogin-img.png" alt="OIMS" class="">
</div>

  <div class="loginform">  
  <div>

    <div class="new-login-headr">
      <ul>
        <li> <a routerLink="../home" class=""><i class="icon-home-solid me-1"></i>{{'Back to Home' | translate}}  </a></li>     
      </ul>    
    </div>  

    <div class="login-header">
      <div class="d-flex align-items-center">
           <h1 class="logo mb-0">
          <a href="javascript:void(0);" class="d-flex text-dark">
            <div class=" mobile-design">
              <img src="{{fileUrl}}/govt.png" alt="OIMS" class="me-3 img-fluid">
            </div>          
            <span class="text-start ">E & IT Department <small class="d-block mt-0">Government of Odisha</small> 
            </span>                     
            </a>
        </h1>
        <div class="ms-2">         
        </div>
      </div>
    </div>
    <h3 class="welcome mt-4">      
      <!-- <span class="d-block">{{'Hi' | translate}},</span>Welcome to OIMS  -->
      Welcome to OIMS      
    </h3>    
    <form>
      <div class="login-inputs mt-0">        
        <div class="row ">
          <div class="col-sm-12 new-irms-css">
            <div class="hideDiv" *ngIf="isVisible == 2 || isVisible == 1">
              <p class="mt-3" *ngIf="isVisible == 2">
                {{'If you are already registered, then use your' | translate}} 
                 <br> Email and Password to Login
              </p>
              <p class="mb-4" *ngIf="isVisible == 1">
                {{'If you are already registered, then use your' | translate}}
                 <br> Email and Password to Login 
              </p>
              <ng-container *ngIf="isVisible == 1">
                <div class="input-group mb-3">
                 <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                  <input type="text" placeholder="Enter Email Address" class="form-control"
                  [(ngModel)]="emailInput" id="intemail" autocomplete="off">
                </div>              
              </ng-container>
              <ng-container *ngIf="isVisible == 1">
                <div class="input-group mb-2">
                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
                  <input [type]="passwordType" placeholder="Enter Password" class="form-control password"
                  [(ngModel)]="passwordInput" id="intPassword" autocomplete="off" >

                  <span class="input-group-text"  (click)="toggleFieldTextType()">
                    <i class="icon-eye" aria-hidden="true" *ngIf="!show"></i>
                    <i class="icon-eye-slash" aria-hidden="true" *ngIf="show"></i>                  
                  </span>
                 </div> 
              </ng-container>
               <small class="d-block text-end mb-3"><a routerLink="/Forgot-password">{{'Forgot Password ?' | translate}}</a></small>


              <div class="row">
                <div class="col-lg-7 col-sm-6 col-12">                                                         
                    <input type="text" maxlength="50" class="form-control " value="" onfocus="this.select();"
                        id="mathcaptcha" name="mathcaptcha" placeholder="Captcha" autocomplete="off"
                        [attr.data-val]="captchaData" [(ngModel)]="captchaInput">                    
                </div>
                <div class="col-lg-5 col-sm-6 col-12 mt-md-0 mt-2">
                        <div class="input-group captcha-i">
                            <img *ngIf="captchaImgDisplay" src="{{captchaImg}}" id="captchaImage"
                                class="form-control" alt="captcha">
                                <span class="input-group-text addon" id="basic-addon1">
                                  <a href="javascript:void(0);" class="lod" (click)="reloadCaptcha()"
                                  style="outline: 0;"><i class="icon-sync-solid"></i></a>
                                </span>                         
                        </div>                
                </div>
            </div><br >
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-12">            
            <button class="btn btn-primary d-block w-100" type="button" (click) = "loginForm();">{{'Login' | translate}}</button>
          </div>          
        </div>
        <div class="row " *ngIf="isVisible == 2">
          <div class="col-sm-12 text-center">
            <p class="">{{'Not registered yet ?' | translate}} <a href="https://krushak.odisha.gov.in/website/home"
              target="_blank"><strong> {{'Register at OIMS.' | translate}}</strong></a></p>
          </div>
        </div>
        <div class="row " *ngIf="isVisible == 1">
          <div class="col-sm-12 text-center">
            <p class="">{{'Not registered yet ?' | translate}} <a routerLink="/Newregister"><strong>{{'Sign Up Here.' | translate}}  </strong></a></p>
          </div>         
        </div>
       
        
      </div>
    </form>
    <!-- <p class="mb-0 text-center mt-2" style="font-size: .8rem; color:#8d8d8d;">© OIMS, All rights reserved</p> -->



  </div>
  </div>
  
</div>



<div class="loader" *ngIf="loading">
  <div class="loader-item"></div>
  <p>Loading...</p>
</div>
<ng-template #someModal id="someModal" let-modal>   
  <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Verify Phone Number</h4>
          <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close"
                  (click)="modal.dismiss('Cross click')">
                  <i class="icon-times-solid"></i>
          </button>
  </div>
  <div class="modal-body">    
          <div class="form-row align-items-center">
              <div class="row">
                  <div class="col-4">
                      <label class="mt-2" for="txtOtp"><span class="mandatory">*</span> Enter OTP</label>                     
                  </div>
                  <div class="col-8">
                      <div class="form-group">
                          <input type="password" class="form-control" id="textOTP" [(ngModel)]="textOTP"
                          [maxlength]="maxLghotp" [minlength]="minLghotp" (keypress)="vldChkLst.isNumberKey($event)">
                          <p class="mb-0 "><strong class="text-danger">{{timeLeft}}</strong> Seconds Left....</p> 
                      </div>
                  </div>
              </div>                  
              <div class="row">
                  <div class="col-12 mb-4">
                      <div class="text-danger" style="font-size: smaller;">* OTP has been sent to the registered mobile number.</div>
                      <div class="text-danger" style="font-size: smaller;" *ngIf="resend == 1">* OTP has been resent to the registered mobile number.</div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-4"></div>
                  <div class="col-8">
                      <button  type="submit"  class="btn btn-success" (click)="verifyOTP();" >Verify</button>
                      <button type="button"  class="btn btn-default" (click)="resendOtp()" [disabled]="!editable" mdbWavesEffect>Resend OTP</button>
                  </div>
              </div>
          </div>
          <input type="hidden" class="form-control" name="txnId" id="txnId" value="{{txnId}}">
          <input type="hidden" class="form-control" name="uid" id="uid" value="{{uid}}">     
  </div>
</ng-template>