
  <div class="">
    <!-- <form [formGroup]="searchForm"> -->
            <div class="row">
                            <!-- <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                            <select class="form-select" formControlName="vchType" [(ngModel)]="dirType">
                                                    <option value="" [selected]="dirType != 3">{{'TYPE' | translate}}</option>
                                                    <option value="1">{{'Scheme' | translate}}</option>
                                                    <option value="2">{{'Services' | translate}}</option>
                                                    <option value="3" [selected]="dirType == 3">{{'Other Department Services' | translate}}</option>
                                            </select>
                                    </div>
                            </div> -->
                            <!-- <div class="col-md-6 col-lg-3">
                                            <div class="form-group">
                                                <select class="form-select" formControlName="vchSector" [(ngModel)]="directorateId">
                                                    <option value="">{{'SECTOR-AGENCY' | translate}}</option>
                                                    
                                                      <option *ngFor="let dirList of groupedDirectorate;" [selected]="dirList.directorate == directorateId"
                                                            value="{{dirList.directorate}}" >{{dirList.directorateName | translate}}
                                                     </option>
                                                            
                                                    </select>
                                            </div>
                                    </div> -->
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <input class="form-control" name="vchScmText" [(ngModel)]="vchScmText" placeholder="{{'Enter Loan Product Name' | translate }}...">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                    <button class="btn btn-success" (click)="getSchemeList({})">{{'SEARCH'| translate}}</button>        
                                    </div>
                    </div>
    <div class="">


<div *ngIf="isFlag; else norecord" class="row">
    <!-- <div *ngFor="let schemInfo of respList | paginate: { itemsPerPage: 10, currentPage: p  }"> -->
<div *ngFor="let schemInfo of respList" class="col-lg-4">

<!-- <div class="row">
    <div class="col-lg-3 col-sm-12"></div>
</div>     -->
    <div class=" scheme-list">
        <div class="scheme-desc">

            <ng-container *ngIf="language == 'English'; then engView else odiaView"></ng-container>
          
            <ng-template #engView>
                    <h5>{{schemInfo.prodName | translate}}</h5>
                    <div class="" innerHtml={{schemInfo.desc}}></div>
                </ng-template>
            <ng-template #odiaView>
                <h5>{{schemInfo.prodName | translate}}</h5>
                <div class="" innerHtml={{schemInfo.desc}}></div>
                </ng-template>
            <div>
               
               
         

                <ng-container *ngIf="innerWidth < 800; then mobileView else desktopView"></ng-container>
                <ng-template #mobileView>
                    <ng-container *ngIf="schemInfo.strServiceGdln">
                        <a href="{{schemInfo.strServiceGdln}}" class="readMore2 me-2" target="_self" download="{{schemInfo.strServiceGdln}}" > {{'Guideline'| translate}}</a>
                    </ng-container>
                    <ng-container *ngIf="schemInfo.briefDescription">
                        <a href="{{schemInfo.briefDescription}}" class="readMore2 me-2" target="_self" >{{'Brief Description' | translate}}</a>
                    </ng-container>
                </ng-template>
                <ng-template #desktopView>

                        <ng-container *ngIf="schemInfo.strServiceGdln">
                                <a href="{{schemInfo.strServiceGdln}}" class="readMore2 me-2" target="_blank" download="{{schemInfo.strServiceGdln}}" > {{'Guideline'| translate}}</a>
                            </ng-container>
                            <ng-container *ngIf="schemInfo.briefDescription">
                                <a href="{{schemInfo.briefDescription}}" class="readMore2 me-2" target="_blank">{{'Brief Description' | translate}}</a>
                            </ng-container>

                     </ng-template>

                     <ng-container *ngIf="loginSts; then aftrLgIn else bfrLgIn"></ng-container>
                     <ng-template #aftrLgIn>
                             <ng-container *ngIf="schemInfo.intSchmCnt>0; then schemView"></ng-container>
                                      <ng-template #schemView>
                                          <a href="javascript:void(0)" class="readMore2 fill" (click)="viewAppliedScheme(schemInfo.prodId);">{{'View' | translate}}</a>
                                      </ng-template>
                                      
                                                  
                                          <a *ngIf="schemInfo.intActAppl==0 && schemInfo.intDraftAppl==0" href="javascript:void(0)" class="readMore2 fill" (click)="doSchemeApply(schemInfo.prodId+':0:'+schemInfo.intDocument+':'+schemInfo.intServiceMode+':'+schemInfo.intBaseType,schemInfo);">{{'Apply' | translate }}</a>
                                   
                     </ng-template>
                     <ng-template #bfrLgIn>
                             <span *ngIf="schemInfo.applyStatus"><a routerLink="/citizen-portal/login" class="readMore2 fill" >{{'Apply' | translate }}</a></span>
                     </ng-template>
                
            </div>


        </div>

        <!-- <div class="scheme-img ">
            <ng-container *ngIf="schemInfo.strServiceImg">
                <img src="{{schemInfo.strServiceImg}}">
            </ng-container>
        </div> -->





    </div>


</div>
<!-- <div class="d-flex justify-content-center mt-3">
    <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
</div> -->
</div>
<ng-template #norecord>
<h6 class="no-content"> No Record Found</h6>

</ng-template>
<div class="loader" *ngIf="loading">
<div class="loader-item"></div>
<p>Loading...</p>
</div>
</div>
<!-- </form> -->
</div>
<!-- (click)="doSchemeApply(schemInfo.intProcessId+':'+schemInfo.intSchmAppId);" -->