<div class="text-center py-5">
        <h1 class="text-success mb-2"  style="font-size:5rem"><i class="icon-check-circle"></i></h1>
        <h1  class="text-success mb-5">Congratulations !</h1>
        <p>Your application for  <strong> {{applctnNm}} </strong> has been successfully submitted.</p>
        <p class="mb-5">Please use your Application ID  <strong><span class="text-success">{{applctnNo}}</span></strong> to track the status of your application.</p>
        <a routerLink="/citizen-portal/dashboard"  class="btn btn-warning">Go to Dashboard</a>
</div>

<div class="loader" *ngIf="loading">
        <div class="loader-item"></div>
        <p>Loading...</p>
</div>

