<!--===Page Title===-->

<div class="page-title p-3 pb-0">
    <h4>Document Required for Registration</h4> 
  </div>
  <!--===Page Title===-->

<div class="page-controls-section" id="page-content">
    <div class="card border-0">
      <div class="card-body p-3 pb-0">
        <div class="controls-section">
          <ul class="listings-items">
            <li>
                Incorporation Document <strong class="text-danger">*</strong>
            </li>
            <li>
                If the founder belongs to ST/SC or Differently abled? Then concerned certificate
            </li>
            <li>If the Managing Director / CEO belongs to ST/SC or Differently abled? Then concerned certificate</li>
            <li>
                CIN Registration Doc <strong class="text-danger">*</strong>
            </li>
            <li>GSTIN Document <strong class="text-danger">*</strong></li>
            <li>Organization PAN Document <strong class="text-danger">*</strong></li>
            <li>Registration Certificate</li>
            <li>Resolution Document </li>
            <li>Memorandum and Articles of Association Document</li>
            <li> Self-declaration Certificate of not being currently blacklisted by any Government department <strong class="text-danger">*</strong></li>
            <li>Certificate from competent authority regarding the operational existence of the firm in a Government owned facility or designated Park <strong class="text-danger">*</strong></li>
            <li>Document Proof the employment in core operations <strong class="text-danger">*</strong></li>
            <li>Document Proof Turnover Certificate of Last 3 financial year <strong class="text-danger">*</strong></li>
            <li>Loan Sanctioned Document</li>
            <li>Document Proof Investment on Land </li>
            <li>Document Proof of Stamp Duty Charges</li>
            <li>Document Proof of Land Conversion Fee</li>
            <li>Document Proof of Capital Expenditure on Equipment</li>
            <li>Document Proof of Building & Civil Work</li>
            <li>Document Proof on Equipment </li>
            <li>Proof of commencement of Commercial Production / Operation <strong class="text-danger">*</strong></li>
            <li>Credit History Document</li>
            <li>Cancelled Cheque <strong class="text-danger">*</strong></li>
            <li>For existing Unit Document Proof for Original Core Employee Strength</li>
           
        </ul>

        <div class="mt-3">
          <button class="btn btn-primary me-2" (click)="openRegistration()">Yes, I have All Documents</button>
          <!-- <button class="btn btn-outline-primary">Cancel</button> -->
        </div>

         </div>
     </div>
   </div>
</div>

  
