<!-- start scheme tab -->

<!-- <div class="mb-3">
    <h5 class="common-heading2 mb-0 ">{{schemeType}} : <span class="text-success">{{schemeName}}</span></h5>
</div> -->


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <!-- <button class="nav-link active" value="1" (click)="goToSectn($event.target.value)" id="profile-tab" -->
            <button class="nav-link active" value="1" href="javascript:void(0)" id="profile-tab"
            type="button" role="tab" aria-controls="profile" aria-selected="true">{{'Applicant Information' | translate}}
        </button>
    </li>
    <li class="nav-item" role="presentation" *ngIf="!serviceMode">
        <!-- <button class="nav-link" value="2" (click)="goToSectn($event.target.value)" id="scheme-tab" type="button" -->
            <button class="nav-link" value="2" href="javascript:void(0)" id="scheme-tab" type="button"
            role="tab" aria-controls="scheme" aria-selected="false"> {{'Loan Application' |
            translate}}</button>
    </li>
    <li class="nav-item" role="presentation" *ngIf="docSectnSts || !serviceMode">
        <!-- <button class="nav-link" value="3" (click)="goToSectn($event.target.value)" id="document-tab" type="button" -->
            <button class="nav-link" value="3" href="javascript:void(0)" id="document-tab" type="button"
            role="tab" aria-controls="document" aria-selected="false"> {{'Documents' | translate}} </button>
    </li>
</ul>
<!-- end scheme tab -->
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="control-div">
            <!-- <h5 class="common-heading2">{{'Basic Information' | translate}} </h5> -->
            <div class="row" style="display: none;">
                <div class="col-md-9">
                    <div class="row">
                           <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="txtFatherNm" class="form-label">
                                    <span class="text-danger" *ngIf="aadhrMndSts">*</span>
                                    {{'Aadhaar Number' | translate}} </label>
                                <input type="text" name="aadhaarNo" id="aadhaarNo" class="form-control" #txtAadhrNo [(ngModel)]="aadhaarNo"
                                    [maxlength]="maxLghAdhno" [minlength]="minLghAdhno"
                                    (keypress)="vldChkLst.isNumberKey($event)" [readonly]="!verifyOTP" autocomplete="off"/>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-lg-4" *ngIf="aadhrMndSts">
                            <label for="selBlock" class="form-label"></label>
                            <ng-container *ngIf="aadhrMndSts; then shwVerifyOTP"></ng-container>
                                <ng-template #shwVerifyOTP>
                                    <div class="form-group">
                                        <a class="btn btn-success" (click)="verifyAadhaarKyc();" *ngIf="verifyOTP">Verify</a>
                                    </div>
                                </ng-template>
                        </div> -->
                        </div>
                        <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="txtApplicantName" class="form-label"><span class="text-danger">*</span>
                                    {{'Name' | translate}}
                                </label>
                                <input type="text" class="form-control" #txtApplicantName disabled
                                    [(ngModel)]="applicantName" [maxlength]="maxLghNm" [minlength]="minLghNm"
                                    (keypress)="vldChkLst.isCharKey($event)" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label for="txtEmail" class="form-label">{{'Email ID' | translate}} </label>
                                <input type="text" class="form-control" #txtEmail [disabled]="emailIdSts"
                                    [(ngModel)]="emailId" [maxlength]="maxLghEmail" [minlength]="minLghEmail" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="txtMobile" class="form-label"><span class="text-danger">*</span> {{'Mobile
                                    Number' | translate}} </label>
                                <input type="text" class="form-control" #txtMobile disabled [(ngModel)]="mobileNo"
                                    [maxlength]="maxLghMob" [minlength]="minLghMob"
                                    (keypress)="vldChkLst.isNumberKey($event)" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="rdoGender" class="form-label"><span class="text-danger">*</span> {{'Gender'
                                    | translate}}
                                </label>
                                <div>
                                    <div class="form-check form-check-inline"
                                        *ngFor="let genLstP of genderList | keyvalue;">
                                        <input class="form-check-input" name="gender" type="radio" [(ngModel)]="gender"
                                            id="gender{{genLstP.key}}" value="{{genLstP.key}}"
                                            [checked]="genLstP.key == gender" style="opacity:unset" autocomplete="off"/>
                                        <label class="form-check-label"
                                            for="gender{{genLstP.key}}" style="opacity:unset">{{genLstP.value}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="txtDob" class="form-label"><span class="text-danger">*</span> {{'Date of
                                    Birth' | translate}}
                                </label>

                                <div class="input-group">
                                    <input class="form-control" [(ngModel)]="dob" placeholder="DD/MM/YYYY"
                                        ngbDatepicker #d="ngbDatepicker"  [minDate]="minDate"
                                        [maxDate]="maxDate" autocomplete="off"/>
                                    <span class="input-group-text" ><i
                                            class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="selCategory" class="form-label"><span class="text-danger">*</span>
                                    {{'Category' | translate}}
                                </label>
                                <select class="form-select" #selCategory [(ngModel)]="castCatg">
                                    <option value="0">Select</option>
                                    <option *ngFor="let castCatgP of castCatgList | keyvalue;" value="{{castCatgP.key}}"
                                        [selected]="castCatgP.key == castCatg">{{castCatgP.value}}</option>
                                </select>
                            </div>
                        </div>
                     

                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label for="txtFatherNm" class="form-label"><span class="text-danger">*</span>
                                    {{'Fathers' | translate}} / {{'Husbands' | translate}} {{'Name' | translate}}
                                </label>
                                <input type="text" class="form-control" #txtFatherNm [(ngModel)]="fatherNm"
                                    [maxlength]="maxLghFnm" [minlength]="minLghFnm"
                                    (keypress)="vldChkLst.isCharKey($event)" autocomplete="off"/>
                            </div>
                        </div>
                        
                        <div *ngIf="serviceMode"  class="col-sm-6 col-lg-4">           

                                <ng-container *ngFor="let redirectArr of redirectList.apiKeyDtls">
                                <div class="col-md-12" [ngClass]="{'d-none': redirectArr.type === '1'}">
                                    <label for="txtAddress" class="form-label"><span class="text-danger">*</span>{{redirectArr.label}} </label>
                                    <div class="form-group" [ngClass]="{'d-none': redirectArr.label === 'City'}">
                                        <input type="text" class="form-control" autocomplete="off" name="{{redirectArr.key}}" id="{{redirectArr.key}}"
                                                    [maxlength]="maxLghAdhno" [minlength]="minLghAdhno"
                                                     value="{{tinDirectorate==agricultureDirectory ? redirectAPIDetls[redirectArr.key] : redirectArr.value}}" autocomplete="off"/><!--value="{{redirectAPIDetls[redirectArr.key]}}" value="{{redirectArr.value}}"-->
                                    </div>
                                    <!-- <div class="form-group" [ngClass]="{'d-none': redirectArr.label != 'City'}">
                                        <select class="form-select" [(ngModel)]="cityId">
                                            <option value="0">Select</option>
                                            <option *ngFor="let citi of cityList;" value="{{citi}}">
                                                {{citi}}</option>
                                        </select>
                                    </div> -->
                                </div>
                            </ng-container> 
                            <input type="hidden" class="form-control" [(ngModel)]="redirectURL">
                            <input type="hidden" class="form-control" [(ngModel)]="serviceModeId">
                            <input type="hidden" class="form-control" [(ngModel)]="redirectKeyList">
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="img-div mb-2">
                        <img [src]="isProfImgUrl ? profImgUrl : profDefImgUrl " alt="Government of Odisha"
                            class="dark-logo" />
                        <input type="hidden" [(ngModel)]="profImgUrl" />
                    </div>
                    <input class="file-upload-input form-control" type='file' (change)="profImgUpld($event)"
                        accept="image/*" />
                    <small class="text-danger">* (.jpg, .jpeg, .png only and max size of {{imgFileSize}} MB)</small>
                </div>
            </div>

            

            <!-- <div class="separator separator-dashed"></div> -->
            <h6 class="common-heading2">{{productName | translate}} </h6>
            <div class="separator separator-dashed"></div>
            <h5 class="common-heading2">{{'Sector Details' | translate}} </h5>
            <div class="row">              
                <div class="col-sm-6 col-lg-3">
                    <label for="txtDirectorate" class="form-label"><span class="text-danger">*</span> {{'Sector' |
                        translate}} </label>
                    <div class="form-group">
                        <select class="form-select" [(ngModel)]="directorateId" (change)="getSectorList();">
                            <option value="0">Select</option>
                            <option *ngFor="let diroList of directorateList;" value="{{diroList.id}}">
                                {{diroList.directorateName}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <label for="txtSector" class="form-label"><span class="text-danger">*</span> {{'Project Type' |
                        translate}} </label>
                    <div class="form-group">
                        <select class="form-select" [(ngModel)]="sectorId">
                            <option value="0">Select</option>
                            <option *ngFor="let sectList of sectorList;" value="{{sectList.intSectorId}}">
                                {{sectList.vchSectorName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <h5 class="common-heading2">{{'Branch Details' | translate}} </h5>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <label for="txtDistrict" class="form-label"><span class="text-danger">*</span> {{'District' |
                        translate}} </label>
                    <div class="form-group">
                        <select class="form-select" [(ngModel)]="distId"
                            (change)="getBlockLists($event.target.value,1);getBranchList();">
                            <option value="0">Select</option>
                            <option *ngFor="let distP of districtList;" value="{{distP.intHierarchyValueId}}">
                                {{distP.vchHierarchyValue}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <label for="txtBlock" class="form-label"><span class="text-danger">*</span> {{'Block' | translate}}
                        / {{'ULB' | translate}} </label>
                    <div class="form-group">
                        <select class="form-select" [(ngModel)]="blckId">
                            <option value="0">Select</option>
                            <option *ngFor="let blockP of blockList;" value="{{blockP.intHierarchyValueId}}">
                                {{blockP.vchHierarchyValue}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <label for="txtBranch" class="form-label"><span class="text-danger">*</span> {{'Branch' |
                        translate}} </label>
                    <div class="form-group">
                        <select class="form-select" [(ngModel)]="branchId">
                            <option value="0">Select</option>
                            <option *ngFor="let branList of branchList;" value="{{branList.id}}">
                                {{branList.branchName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <label for="txtSector" class="form-label"><span class="text-danger">*</span> {{'Loan Amount' |
                        translate}} </label>
                    <div class="input-group">
                        <input class="form-control" type="text" [(ngModel)]="loanAmount" placeholder="Enter Loan Amount"
                            autocomplete="off" (keypress)="vldChkLst.isNumberKey($event);" onpaste="return false;"/>
                    </div>
                </div>

                <div class="col-md-12" style="display: none;">
                    <label for="txtAddress" class="form-label"><span class="text-danger">*</span> {{'Address' |
                        translate}} </label>
                    <div class="form-group">
                        <textarea cols="3" rows="3" class="form-control" #txtAddress [(ngModel)]="address"
                            [maxlength]="maxLghAdrs" [minlength]="minLghAdrs" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
                
            <div class="text-center">

              <a class="btn btn-danger me-2" (click)="goToBack()">Back</a> 
                <!-- <a class="btn btn-warning me-2" (click)="updFarmerInfo(draftSts);">Save As Draft</a> -->
                <a class="btn btn-success me-2 " (click)="updFarmerInfo(saveNxtSts);">Save & Next</a>

            </div>
        </div>


    </div>
</div>

<div class="loader" *ngIf="loading">
    <div class="loader-item"></div>
    <p>Loading...</p>
</div>

<ng-template #someModal id="someModal" let-modal>
   
    <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Verify Phone Number</h4>
            <!-- <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
                    <i class="icon-times-solid"></i>
            </button> -->
    </div>
    <div class="modal-body">
      
            <div class="form-row align-items-center">
                <div class="row">
                    <div class="col-4">
                        <label class="mt-2" for="txtOtp"><span class="mandatory">*</span> Enter OTP</label>
                       
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <input type="text" class="form-control" id="textOTP" [(ngModel)]="textOTP"
                            [maxlength]="maxLghotp" [minlength]="minLghotp" (keypress)="vldChkLst.isNumberKey($event)" autocomplete="off">
                            <p class="mb-0 "><strong class="text-danger">{{timeLeft}}</strong> Seconds Left....</p> 
                        </div>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="text-danger" style="font-size: smaller;">* OTP has been sent to the mobile number registered in your Aadhaar.</div>
                        <div class="text-danger" style="font-size: smaller;">* One time password is valid for 10 mins.</div>
                        <div class="text-danger" style="font-size: smaller;" *ngIf="resend == 1">* OTP has been resent to the mobile number registered in your Aadhaar.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <button  type="submit"  class="btn btn-success" (click)="verifyOTP();" >Verify</button>
                        <button type="button"  class="btn btn-default" (click)="resendOtp()" [disabled]="!editable" mdbWavesEffect>Resend OTP</button>
                    </div>
                </div>

            </div>
            <input type="hidden" class="form-control" name="txnId" id="txnId" value="{{txnId}}">
            <input type="hidden" class="form-control" name="uid" id="uid" value="{{uid}}">
       
    </div>

</ng-template>