

<div class="pagenavigation">

        <div class="container">
                <h2>{{'Notification' | translate }}</h2>
        </div>    
        </div>

        <div class="container">
    <div class="py-4">
        <div class="">
                <div class="row" *ngIf="isnotificationFlag;else norecord ">
              
                                            
                        <div class="col-md-12 col-lg-6" *ngFor="let content of notificationitems; let i = index;">
                            <div class="notification-list">
                                <a routerLink="/home/announcementdetails/{{content.intNewsId}}/1">
                                    <p innerHtml="{{content.vchHeadline}}"></p>
                                </a>
                           
                                <div class="row align-items-center">
                                    <div class="col-8">
                                            <small>Published On - <strong>{{content.dtNewsDate | date: 'dd-MM-y'}}</strong></small>
                                    </div>
                                    <div class="col-4 text-right">
                                            <ng-container *ngIf="content.vchFiles">
                                                    <a class="text-danger h2" href="{{fileUrl}}newsannounce/{{content.vchFiles}}" target="_blank"><i class="icon-file-pdf"></i></a>
                                                    </ng-container>
                                            
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                       
                          
                               
                    </div>
            
            
                    <ng-template #norecord>
                            <h6 class="no-content"> No Record Found</h6>
                       
                    </ng-template>
         
        </div>
    </div>
    </div>
