<div class="print-header">
    <div class="container">
        <div class="row">
            <span style="text-align: left;float: left;width:80%;">
                <a class="navbar-brand d-flex align-items-center logo" href="#" title="IRMS">
                    <img src="{{bankImg}}"  alt=" Government of Odisha" class="dark-logo">
                </a>
            </span>
            <span style="float:right;width:20%;text-align: right;"><img src="{{profilePic}}"  alt=" Government of Odisha" style="height:80px;width:80px;"></span>
        </div>
           
        
   

    </div>
</div>

<div class="d-flex align-items-start justify-content-between">
    <h5 class="common-heading noPrint">Preview Details </h5>
    <div class="p-none">
        <a (click)="printPage()" href="javascript:void(0)" class="h5 text-info "><i class="icon-print-solid"></i></a>
        <a class="text-dark h5 ml-1" title="Back" href="javascript:void(0)" (click)="goBack()"><i
                class="icon-arrow-left-solid"></i></a>
    </div>
</div>

<div class="p-3 bg-light mb-3 schemename">    
    <ng-container *ngIf="schmHrDt != '' ">
        <!-- <h5 class="common-heading2 mb-0">{{(schmHrDt.schmServTypeNm!='')?schmHrDt.schmServTypeNm:''}} : <span -->
    <h5 class="common-heading2 mb-0"><span
            class="text-success">{{(schmHrDt.schmServNm!='')?schmHrDt.schmServNm:''}}</span></h5>
            </ng-container>
</div>
<div>
    <div class="accordion" id="accordionExample"> 
       <div class="accordion-item noPrint">
            <h5 class="accordion-header" id="headingOne">
                <a class="accordion-button " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Applicant Information
                </a>
            </h5>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="control-div">
                    <h5 class="common-heading1">Sector Details</h5>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <label class="form-label">Directorate</label>
                            <div class="form-group">
                                <p class="mb-0 text-dark">
                                {{applicationDetails.directorate}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <label class="form-label">Sector</label>
                            <div class="form-group">
                                <p class="mb-0 text-dark">
                                {{applicationDetails.sector}} 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="separator separator-dashed"></div>
                    <h5 class="common-heading1">Branch Details</h5>
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <label class="form-label">District</label>
                            <div class="form-group">
                                <p class="mb-0 text-dark">
                                {{applicationDetails.districtName}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <label class="form-label">Block/ULB</label>
                            <div class="form-group">
                                <p class="mb-0 text-dark">
                                {{applicationDetails.blockName}} 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <label class="form-label">Branch</label>
                            <div class="form-group">
                                <p class="mb-0 text-dark">
                                {{applicationDetails.branch}} 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <label class="form-label">Loan Amount</label>
                            <div class="form-group">
                                <p class="mb-0 text-dark">
                                {{applicationDetails.loanAmountShow}} 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="separator separator-dashed"></div>
                </div>

            </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h5 class="accordion-header" id="headingTwo">
                <a class="accordion-button " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{schmHrDt.schmServTypeNm}} Information
                </a>
            </h5>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="control-div">

                        <!-- <h5 class="common-heading2" *ngIf="schemeId!=sujogPortal">Address where unit has to be set-up</h5>
                        <h5 class="common-heading2" *ngIf="schemeId==sujogPortal">Address details</h5>
                        <div class="row" *ngIf="schemeId==sujogPortal">
                            <div class="col-md-6 col-lg-3">
                                <label class="form-label">City</label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">{{ sujogCity}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="schemeId!=sujogPortal">
                            <div class="col-md-6 col-lg-3">
                                <label class="form-label">{{distLabel}}</label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">{{ ((schmHrDt.districtNm!='') ? schmHrDt.districtNm :
                                        '--')}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label class="form-label">{{blockLabel}}</label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">{{ ((schmHrDt.blockNm!='') ? schmHrDt.blockNm : '--')}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label class="form-label">{{gpLabel}}</label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">{{ ((schmHrDt.gpNm!='') ? schmHrDt.gpNm : '--')}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3" *ngIf="schmHrDt.marineType == 0">
                                <label class="form-label">Village</label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">{{ ((schmHrDt.villageNm!='') ? schmHrDt.villageNm :
                                        '--')}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4" *ngIf="isServcFlg">
                                <label class="form-label">Veterinary Officer</label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">{{ ((schmHrDt.vtOfcrNm!='') ? schmHrDt.vtOfcrNm : '--')}}
                                    </p>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="separator separator-dashed"></div> -->

                        <div *ngFor="let sectnInfo of schmData;let aRwCnt=index;">
                            <h5 class="common-heading2">{{sectnInfo.sectionName}}</h5>
                            <div class="row">
                                <ng-container *ngFor="let ctrlInfo of sectnInfo.sectionCtrls;let i=index;">
                                    <ng-container *ngIf="ctrlInfo.tinControlType==8; then shwAddMore else shwOther;">
                                    </ng-container>
                                    <ng-template #shwAddMore>

                                        <div class="col-md-12" *ngIf="ctrlInfo.vchFieldValue.columnData.length>0;">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="5px">Sl#</th>
                                                        <th
                                                            *ngFor="let addMoreColInfo of ctrlInfo.vchFieldValue.columnData;let adCnt=index;">
                                                            {{addMoreColInfo.colName}}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let addMoreRowInfo of ctrlInfo.vchFieldValue.addMoreData;let adRCnt=index;">
                                                        <td>{{adRCnt+1}}</td>
                                                        <td
                                                            *ngFor="let addMoreRowColInfo of addMoreRowInfo;let adRclCnt=index;">

                                                            {{getAddMoreVal(addMoreRowColInfo.elementVal,addMoreRowColInfo.colType)}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </ng-template>
                                    
                                    <ng-template #shwOther>
                                      
                                        <div class="col-md-6 col-lg-4"
                                            [ngClass]="ctrlInfo.jsnDispTagArray[0].tagFieldSts == 1 && ctrlInfo.vchDispFieldValue=='' ?'d-none' : ''">
                                            <label class="form-label">{{ctrlInfo.vchLabelName}}</label>
                                            <div class="form-group">
                                                <p class="mb-0 text-dark">{{ ((ctrlInfo.vchDispFieldValue!='') ?
                                                    ctrlInfo.vchDispFieldValue : '--')}}</p>
                                            </div>
                                        </div>
                                    </ng-template>


                                </ng-container>
                            </div>
                            <div class="separator separator-dashed"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item p-none" *ngIf="docSectnSts">
            <h5 class="accordion-header" id="headingThree">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Documents
                </a>
            </h5>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="control-div">

                        <div class="row" *ngIf="resDocSts; else norecord">
                            <ng-container *ngFor="let docInfo of resDocList;let aRwCnt=index;">
                                <div class="col-md-8 col-lg-4">
                                    <label class="form-label">{{docInfo.vchDocumentName}} <span
                                            *ngIf="docInfo.optnDataType==2">({{docInfo.optnDataVal}})</span></label>
                                    <div class="form-group">
                                        <p class="mb-0 text-dark">
                                            <ng-container *ngIf="docInfo.dataUrlDoc!='';else noDocFnd">
                                                <a class="text-danger h5" href="{{docInfo.dataUrlDoc}}"
                                                    target="_blank"><i class="icon-file-pdf"></i></a>
                                            </ng-container>
                                            <ng-template #noDocFnd>
                                                <span>--</span>
                                            </ng-template>
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <ng-template #norecord>
                            <h6 class="no-content"> No Document Uploaded </h6>
                        </ng-template>

                    </div>


                </div>
            </div>
        </div>
        <div class="accordion-item p-none" *ngIf="paySectnSts && (resPaySts==1) && !(editSts==0 && qryArr.length>0)">
            <h5 class="accordion-header" id="headingFour">
                <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                aria-expanded="true" aria-controls="collapseFour">
                    Payment Details
                </a>
            </h5>
            <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="control-div">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-right" width="150px">Amount</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="resPaySts; else norecord">
                                   <tr *ngIf="resPayList.amount!=null && resPayList.amount!='0.00'">
                                        <td>Processing Fee</td>
                                        <td class="text-right"><i class="icon-rupee-sign-solid"></i><strong><span class="paybleAmt">{{resPayList.amount}}</span></strong></td>
                                   </tr> 
                                   <tr *ngIf="resPayList.newValuationCost!=null && resPayList.newValuationCost!='0.00'">
                                    <td>Valuation Fee</td>
                                    <td class="text-right"><i class="icon-rupee-sign-solid"></i><strong><span class="paybleAmt ">{{resPayList.newValuationCost}}</span></strong></td>
                               </tr> 
                               <tr *ngIf="resPayList.decOtherTax!=null && resPayList.decGST!='0'">
                                <td>GST ({{resPayList.decGST}}%)</td>
                                <td class="text-right"><i class="icon-rupee-sign-solid"></i><strong><span class="paybleAmt ">{{resPayList.gstCost}}</span></strong></td>
                           </tr> 
                           <tr *ngIf="resPayList.decOtherTax!=null && resPayList.decOtherTax!=0">
                            <td>Other Tax ({{resPayList.decOtherTax}}%)</td>
                            <td class="text-right"><i class="icon-rupee-sign-solid"></i><strong><span class="paybleAmt">{{resPayList.otherTaxCost}}</span></strong></td>
                       </tr> 
                       <tr *ngIf="resPayList.valueCostWithGST!=null && resPayList.valueCostWithGST!='0.00'">
                        <td>Total Valuation Fee</td>
                        <td class="text-right"><i class="icon-rupee-sign-solid"></i><strong><span class="paybleAmt ">{{resPayList.valueCostWithGST}}</span></strong></td>
                   </tr> 
                                </tbody>
                            </table>

                        </div>
                        <div class="row" >
                  
                           
                            <div class="col-sm-12 text-right">
                                <div class="p-2">
                                <h5><strong>Payable Amount  : <i class="icon-rupee-sign-solid"></i><span class="paybleAmt ">{{resPayList.totalPaybleAmount}}</span></strong></h5>
                                 </div>
                            </div>
                        </div>
                       

                    </div>


                </div>
            </div>
        </div>
        <div class="accordion-item p-none" *ngIf="paySectnSts && (resPaySts==2)">
            <h5 class="accordion-header" id="headingFive">
                <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                aria-expanded="true" aria-controls="collapseFour">
                    Payment Details
                </a>
            </h5>
            <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="control-div">

                        <div class="row" *ngIf="resPaySts==2; else norecord">
                            <div class="col-md-8 col-lg-4">
                                <label class="form-label">Paid Amount </label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">
                                     <i class="fa fa-inr"></i>
                                     <span class="paybleAmt ">{{paymentDetails.decTotalPayment}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-4">
                                <label class="form-label">Transaction ID </label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">
                                     <i class="fa fa-inr"></i>
                                     <span class="paybleAmt ">{{paymentDetails.vchUniqueTransNo}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-4">
                                <label class="form-label">Bank Transaction ID </label>
                                <div class="form-group">
                                    <p class="mb-0 text-dark">
                                     <i class="fa fa-inr"></i>
                                     <span class="paybleAmt ">{{paymentDetails.vchBankTransNo}}</span>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                       

                    </div>


                </div>
            </div>
        </div>
        <div class="accordion-item" *ngIf="editSts==0 && qryArr.length>0 ">
            <h5 class="accordion-header" id="headingSix">
                <a class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Query Details
                </a>
            </h5>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="control-div">
                        <ng-container *ngFor="let qryInfo of qryArr | keyvalue;let qRwCnt=index;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="common-heading2">{{qryInfo.value.qryMsg}} <small>On:
                                            {{(qryInfo.value.authActnOn!='')?qryInfo.value.authActnOn:'--'}}</small>
                                    </h5>
                                    <div class="form-group">
                                        <label class="form-label"> Message </label>
                                        <div innerHtml={{qryInfo.value.authMsg}}></div>
                                    </div>
                                    <div class="form-group"
                                        *ngIf="(qryInfo.value.qrySts).toLowerCase() =='rpy' && (qryInfo.value.qryRplyDoc).length>0">
                                        <label class="form-label"> Document List </label>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th width="5%">Sl#</th>
                                                    <th>Document Name</th>
                                                    <th width="5%">Document</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let docItm of qryInfo.value.qryRplyDoc;let docR = index">
                                                    <td><label>{{docR+1}}</label></td>
                                                    <td>{{(docItm.docName!='')?docItm.docName:'--'}}</td>
                                                    <td>
                                                        <p class="mb-0 text-dark">
                                                            <ng-container *ngIf="docItm.docFile!='';else noQryDocFnd">
                                                                <a class="text-danger h5" href="{{docItm.docFile}}"
                                                                    target="_blank"><i class="icon-file-pdf"></i></a>
                                                            </ng-container>
                                                            <ng-template #noQryDocFnd>
                                                                <span>--</span>
                                                            </ng-template>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="separator separator-dashed"
                                *ngIf="(qryInfo.value.qrySts).toLowerCase() =='rpy'"></div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>



    </div>
<div class="noPrint">
    <ng-container *ngIf="editSts==1; then shwModBtn"></ng-container>
    <ng-template #shwModBtn>
        <form focusInvalidInput [formGroup]="finalForm" (submit)="onFinalSubmit()">

            <div class="form-check mb-4" *ngIf="apprRsmSts==1">
                <label><span class="text-danger">*</span> {{ 'Remark' | translate}} </label>
                <textarea class="form-control" rows="4" cols="4" maxlength="250" formControlName="resubmitRmrk"
                    [ngClass]="{ 'is-invalid': finalSubmitted && g.resubmitRmrk.errors }"></textarea>
            </div>

            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="declarationCheck" formControlName="terms">
                <label class="form-check-label text-danger" for="declarationCheck" *ngIf="checkBoxChk">
                    I hereby declare that the information given in this application is true and
                    correct to the best of my knowledge and belief. In case any information
                    given in this application proves to be false or incorrect, I shall be
                    responsible for the consequences.
                </label>
                <label class="form-check-label" for="declarationCheck" *ngIf="!checkBoxChk">
                    I hereby declare that the information given in this application is true and
                    correct to the best of my knowledge and belief. In case any information
                    given in this application proves to be false or incorrect, I shall be
                    responsible for the consequences.
                </label>
            </div>
            <div class="text-center">
                <a href="javascript:void(0);" class="btn btn-primary" (click)="doSchmModify();">Modify</a> &nbsp;
                <!--<span *ngIf="paySectnSts && (resPaySts==1) && !(editSts==0 && qryArr.length>0)">Pay</span>-->
                <button class="btn btn-success">
                    <span *ngIf="!(paySectnSts && (resPaySts==1) && !(editSts==0 && qryArr.length>0))">Submit</span>
                </button>
            </div>
        </form>
    </ng-template>
</div>
</div>

<div class="loader" *ngIf="loading">
    <div class="loader-item"></div>
    <p>Loading...</p>
</div>