<h5 class="common-heading">{{'Change Password' | translate}}</h5>

    <div class="row mt-5">
    <label class="col-lg-2 col-md-4">{{'Current Password' | translate}} <span class="text-danger"> *</span></label>
    <div class="col-lg-4 col-md-8">
        <div class="input-group mb-2">
                <input [type]="passwordType" class="form-control password"
                [(ngModel)]="currentPassword" >

                <span class="input-group-text"  (click)="toggleOldFieldTextType()">
                        <i class="icon-eye" aria-hidden="true" *ngIf="show"></i>
                        <i class="icon-eye-slash" aria-hidden="true" *ngIf="!show"></i>                  
                </span>
        </div>
            <!-- <div class="form-group">
                    <input type="password" class="form-control"  [(ngModel)]="currentPassword" >
                   
            </div> -->
    </div>
    </div>
    <div class="row">
            <label class="col-lg-2 col-md-4">{{'New Password' | translate}} <span class="text-danger"> *</span></label>
            <div class="col-lg-4 col-md-8">
                <div class="input-group mb-2">
                        <input [type]="newPasswordType" class="form-control password" maxlength="15" minlength="8"
                        [(ngModel)]="newPassword" >
        
                        <span class="input-group-text"  (click)="toggleNewFieldTextType()">
                                <i class="icon-eye" aria-hidden="true" *ngIf="newShow"></i>
                                <i class="icon-eye-slash" aria-hidden="true" *ngIf="!newShow"></i>                  
                        </span>
                </div>
                    <!-- <div class="form-group">
                            <input type="password" class="form-control" maxlength="15" minlength="8"   [(ngModel)]="newPassword">
                    </div> -->
            </div>
    </div>
    <div class="row">
            <label class="col-lg-2 col-md-4">{{'Confirm Password' | translate}} <span class="text-danger"> *</span></label>
            <div class="col-lg-4 col-md-8">
                <div class="input-group mb-2">
                        <input [type]="conPasswordType" class="form-control password"
                        [(ngModel)]="confirmPassword" >
        
                        <span class="input-group-text"  (click)="toggleConFieldTextType()">
                                <i class="icon-eye" aria-hidden="true" *ngIf="conShow"></i>
                                <i class="icon-eye-slash" aria-hidden="true" *ngIf="!conShow"></i>                  
                        </span>
                </div>
                    <!-- <div class="form-group">
                            <input type="password" class="form-control"   [(ngModel)]="confirmPassword">
                         
                    </div> -->
            </div>
            </div>
            <div class="row">
                <label class="col-lg-2 col-md-4"></label>
                <div class="col-lg-4 col-md-8">
                    <button  class="btn btn-success" (click)="changePassword()">Submit</button> &nbsp; 
                    <button  type="button" class="btn btn-danger" (click)="clearAll()" >Reset</button>  
                </div>

                </div>
    
                <div class="loader" *ngIf="loading">
                        <div class="loader-item"></div>
                        <p>Loading...</p>
                    </div>